// Imports go at top
@import 'variables.styl'

*,
*:before,
*:after 
  box-sizing: border-box;
  margin: 0;
  padding: 0;

body 
  background-color: darken($primaryColor, 40%);
  color: #fefefe;
  font-family: Roboto;
  min-height: 100vh;

.center
  width: 100%;
  display: flex;
  justify-content: center;